@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: rgb(45, 46, 46);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

/* menu de navegação config */

nav{
    background-color: rgb(56, 55, 55);
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: rgb(56, 55, 55);
    overflow: hidden;
    position: absolute;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    background-color: rgb(56, 55, 55);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

nav ul li a:hover {
    background-color: rgb(24, 155, 216);
}

nav ul li:last-child a {
    float: right;
    background-color: rgb(9, 188, 243);
}

/* seções config */

article {
    display: block;
    background-color:rgb(45, 46, 46);
    color: #FFFFFF;
    text-align: center;
}


footer {
    display: block;
    background-color:rgb(46, 45, 45);
    color: #FFFFFF;
    text-align: center;
}

footer {
    border-radius: 18px;
    position: relative;
    top: 80px;
}

iframe {
    border-radius: 18px;
    position: relative;
    top: 80px;
}

/* Títulos e Botões config */

h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    top: 70px;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    right: 500px;
}

h3 {
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    position: relative;
    right: 500px;
    top: 5px;
}

.btn{
    padding: 8px 4px;
    width: 135px;
    color: #FFFFFF;
    background: #9b1919;
    border: 1px solid #555;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background: #ee0a0a;
    transition: background 1.5s;
}

/* config img */

img {
    position: relative;
    top: 5px;
    cursor: pointer;
    border-radius: 20px;
}

.img-3 {
    top: 10px;
}